# Ignore AI Agent Directories
requirements
requirements/ai/*
.cache_ggshield
primary

node_modules/*
**/node_modules/*
**/dist/*
**/.build/*
**/cdk.out/*

**/.DS_Store

# Container environment
.env
docker-compose.override.yml

